tomark~=0.1.4
psutil~=5.9.2
wget
grpcio==1.51.3; python_version<"3.12"
grpcio==1.59.0; python_version>="3.12"
pydantic>=2
editdistance
openpyxl
premailer
python-docx
######## For Chatocrv3 #######
langchain==0.2.17
langchain-community==0.2.17
langchain-text-splitters==0.2.4
transformers==4.40.0
unstructured
networkx
numpy==1.24.4; python_version<"3.12"
numpy==1.26.4; python_version>="3.12"
