tomark~=0.1.4
psutil~=5.9.2
wget
grpcio==1.53.2
pydantic~=1.10.1
editdistance
openpyxl
PyMuPDF==1.20.2
qianfan==0.0.3
langchain==0.0.292
erniebot
premailer
python-docx
unstructured
networkx
Pillow==9.5
requests <= 2.29
