colorlog
PyYAML
filelock
ruamel.yaml
chardet
numpy==1.24.4
matplotlib==3.5.2
opencv-python==4.5.5.64
pycocotools
tqdm
pyclipper
shapely
pandas
parsley
requests
tokenizers==0.19.1
tomark~=0.1.4
psutil~=5.9.2
wget
grpcio==1.51.3
pydantic~=1.10.1
editdistance
openpyxl
PyMuPDF==1.20.2
qianfan==0.0.3
langchain==0.0.292
erniebot
premailer
python-docx
unstructured
networkx
Pillow==9.5
ujson
