prettytable # only for benchmark
py-cpuinfo # LaTeX_OCR_rec only support MKLDNN on CPU
imagesize
colorlog
PyYAML
filelock
ftfy
ruamel.yaml
chardet
numpy==1.24.4
matplotlib==3.5.2
opencv-python==4.5.5.64
chinese_calendar
scikit-learn
pycocotools
tqdm
pyclipper
shapely
pandas
parsley
requests
tokenizers==0.19.1
GPUtil>=1.4.0
scikit-image
lxml
openpyxl
premailer
PyMuPDF
ujson
Pillow
importlib_resources>=6.4
######## For Chatocrv3 #######
qianfan==0.0.3
langchain==0.1.5
langchain-community==0.0.17
erniebot == 0.5.9
erniebot-agent == 0.5.2
unstructured
networkx
faiss-cpu
decord==0.6.0; platform_machine == 'x86_64'
######## For NLP Tokenizer #######
jieba
sentencepiece
jinja2
regex
######## For Speech #######
soundfile
