build
cmake-build-debug
cmake-build-release
.vscode
UltraInfer.cmake
build-debug.sh
*dist
ultra_infer.egg-info
ultra_infer_python.egg-info
ultra_infer_gpu_python.egg-info
.setuptools-cmake-build
ultra_infer/version.py
ultra_infer/core/config.h
python/ultra_infer/c_lib_wrap.py
python/ultra_infer/LICENSE*
python/ultra_infer/ThirdPartyNotices*
*.so*
python/ultra_infer/libs/third_libs
ultra_infer/core/config.h
ultra_infer/pybind/main.cc
python/ultra_infer/libs/lib*
__pycache__
python/scripts/process_libraries.py
.vs
.idea
.DS_Store
miniprogram_npm
node_modules
.DS_Store
dist
etc
lib
dist-ssr
coverage
*.local
yalc.*
.yalc
ultra_infer/LICENSE
ultra_infer/ThirdPartyNotices.txt
UltraInferCSharp.cmake
python/ultra_infer/code_version.py
*.pdmodel
*.pdiparams
*.pdiparams.info
log.txt
TensorRT*
third_party
